# Ignore specific large files to prevent GitHub push errors
*.psd
*.jar

# Build directories and compiled files
target/
*.class
.vscode/

# Secrets and credentials
credentials

# Python ML service
__pycache__/
*.pyc
*.npy
.venv/
.idea/
**/ml_service/dataset/
