target/
build/
dist/
out/

*.class
*.jar
*.war

.idea/
.vscode/
*.iml
# Face datasets
Project Code (forensic face sketch)/Project Code (forensic face sketch)/ThirdEye_FaceMatch/src/main/java/com/mycompany/thirdeye_facematch/faces/

Project Code (forensic face sketch)/Project Code (forensic face sketch)/ThirdEye_FaceMatch/src/main/java/com/mycompany/thirdeye_facematch/sketches/

Third-Eye-Final-Year-Project/Face Sketch Elements/